# Day 10

In [8]:
import pandas as pd
import numpy as np

In [65]:
jolts_file = open('input', mode='r')
data = jolts_file.read().splitlines()
#data

In [141]:
dummy_small="""16
10
15
5
1
11
7
19
6
12
4"""
data = dummy_small.splitlines()
#data

In [164]:
dummy="""28
33
18
42
31
14
46
20
48
47
24
23
49
45
19
38
39
11
1
32
25
35
8
17
7
9
4
2
34
10
3"""
data = dummy.splitlines()
#data

In [165]:
df = pd.DataFrame(data,columns=['jolts']).astype({'jolts':'int'})
df

    jolts
0      28
1      33
2      18
3      42
4      31
5      14
6      46
7      20
8      48
9      47
10     24
11     23
12     49
13     45
14     19
15     38
16     39
17     11
18      1
19     32
20     25
21     35
22      8
23     17
24      7
25      9
26      4
27      2
28     34
29     10
30      3

## Part 1

In [166]:
d1= df.copy().append(pd.DataFrame([0,(df.jolts.max()+3)],columns=['jolts'])).sort_values(by='jolts').reset_index().drop(columns=['index'])
d1['diff']=(d1['jolts']-d1.shift(1)['jolts'])
diffs = d1['diff'].value_counts()
print('product:', np.prod(diffs.values))
diffs

product: 220

1.0    22
3.0    10
Name: diff, dtype: int64

## Part 2

In [174]:
def calc_next(row):
    l = [int(l) for l in (d1[row.name+1:row.name+4].jolts.values) if l <= (row.jolts +3)]
    row['next']=l
    row['a']=len(l)
    return row

d1 = d1.apply(calc_next, axis=1)
d1

    jolts  diff          next  a
0     0.0   NaN     [1, 2, 3]  3
1     1.0   1.0     [2, 3, 4]  3
2     2.0   1.0        [3, 4]  2
3     3.0   1.0           [4]  1
4     4.0   1.0           [7]  1
5     7.0   3.0    [8, 9, 10]  3
6     8.0   1.0   [9, 10, 11]  3
7     9.0   1.0      [10, 11]  2
8    10.0   1.0          [11]  1
9    11.0   1.0          [14]  1
10   14.0   3.0          [17]  1
11   17.0   3.0  [18, 19, 20]  3
12   18.0   1.0      [19, 20]  2
13   19.0   1.0          [20]  1
14   20.0   1.0          [23]  1
15   23.0   3.0      [24, 25]  2
16   24.0   1.0          [25]  1
17   25.0   1.0          [28]  1
18   28.0   3.0          [31]  1
19   31.0   3.0  [32, 33, 34]  3
20   32.0   1.0  [33, 34, 35]  3
21   33.0   1.0      [34, 35]  2
22   34.0   1.0          [35]  1
23   35.0   1.0          [38]  1
24   38.0   3.0          [39]  1
25   39.0   1.0          [42]  1
26   42.0   3.0          [45]  1
27   45.0   3.0  [46, 47, 48]  3
28   46.0   1.0  [47, 48, 49]  3
29   47.0   1.0      [48, 49]  2
30   48.0   1.0          [49]  1
31   49.0   1.0          [52]  1
32   52.0   3.0            []  0

In [175]:
d1[:-1].a.cumprod()

0           3
1           9
2          18
3          18
4          18
5          54
6         162
7         324
8         324
9         324
10        324
11        972
12       1944
13       1944
14       1944
15       3888
16       3888
17       3888
18       3888
19      11664
20      34992
21      69984
22      69984
23      69984
24      69984
25      69984
26      69984
27     209952
28     629856
29    1259712
30    1259712
31    1259712
Name: a, dtype: int64