# Day 2

In [1]:
import pandas as pd
import numpy as np
from itertools import takewhile

In [34]:
#1-3 a: abcde
#1-3 b: cdefg
#2-9 c: ccccccccc
data = {'min':  [1, 1,2],
        'max': [3,3,9],
         'letter': ['a','b','c'],
        'password': ['abcde', 'cdefg', 'ccccccccc']
        }
df = pd.DataFrame (data, columns = ['min','max','letter','password'])


pwds = pd.read_csv('input.txt', header=None,delimiter=r"\s+|:|-",names=["min", "max","letter","error","password"]).dropna(axis=1)
pwds

<ipython-input-34-27d59c4be9b2>:12: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  pwds = pd.read_csv('input.txt', header=None,delimiter=r"\s+|:|-",names=["min", "max","letter","error","password"]).dropna(axis=1)

     min  max letter              password
0      1   13      r      gqdrspndrpsrjfjx
1      5   16      j   jjjjkjjzjjjjjfjzjjj
2     14   16      r      rrrnrrrrrcnrgxrr
3      1    3      k            bkktwhgktv
4      3    5      q            dxqqqzmqvs
..   ...  ...    ...                   ...
995    2    5      r                nrrzrr
996    4    6      g                kggggg
997    6    7      c             cccccdqcc
998    2    6      x            vjkxbrfwnj
999   16   18      s  kssssssswssssssssssb

[1000 rows x 4 columns]

## Part 1

In [40]:
def test(row):
    result=row.copy()
    count=row['password'].count(row['letter'])
    result['valid'] = (count >= row['min'] and count <= row['max'])
    return result

t = pwds.apply(test,axis=1)
t[t['valid']==True]

     min  max letter              password  valid
0      1   13      r      gqdrspndrpsrjfjx   True
1      5   16      j   jjjjkjjzjjjjjfjzjjj   True
3      1    3      k            bkktwhgktv   True
4      3    5      q            dxqqqzmqvs   True
5     11   14      s        sssssssssssssv   True
..   ...  ...    ...                   ...    ...
994    1    5      s                qfssks   True
995    2    5      r                nrrzrr   True
996    4    6      g                kggggg   True
997    6    7      c             cccccdqcc   True
999   16   18      s  kssssssswssssssssssb   True

[600 rows x 5 columns]

## Part 2

In [50]:
def policy2(row):
    result=row.copy()
    a = (row['password'][row['min'] -1] == row['letter'])
    b = (row['password'][row['max']-1] == row['letter'])
                     # .count()
    result['valid'] = (a + b == 1)
    return result

t = pwds.apply(policy2,axis=1)   
t[t['valid']==True]

     min  max letter              password  valid
2     14   16      r      rrrnrrrrrcnrgxrr   True
3      1    3      k            bkktwhgktv   True
5     11   14      s        sssssssssssssv   True
19     3    4      d                  dddv   True
26     4    6      h           hhqhrzkcrhh   True
..   ...  ...    ...                   ...    ...
970    3    4      f                  fflf   True
974    1    7      c          bccccccccccc   True
978    6   14      j  jfrxjjjrqcqjwmbfjjjm   True
985   14   18      q    kjtxqqqqltlpgqshdx   True
989    9   10      m           rmmlmsmfmbj   True

[245 rows x 5 columns]